<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taxi_app">

    <!-- أذونات الموقع والإنترنت -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:label="taxi_app"
        android:icon="@mipmap/ic_launcher">

        <!-- 🔑 مفتاح Google Maps API هنا داخل application -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAiI9plG4Q_kvQ5n6YLSWVY0867lLlOywc" />

        <!-- إعدادات Flutter -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
